* {
    box-sizing: border-box;
}

body {
    color: #eaeaea;
    background-color: #111111;
}

body :not(div, img) {
    margin: 0 1em;
}

#carouselIndicators {
    margin-bottom: 20px;
}

.separator {
    position: absolute;
    top: 90px;
}