.pc {
    padding: 20px 0;
}

h2 {
    padding: 10px 0;
}

.delete {
    border: 1px solid #eaeaea;
    background: #111111;
    color: #eaeaea;
    padding: 2px 19px;
    cursor: pointer;
    transition: 0.3s;
}

.delete:hover {
    background-color: rgba(255, 255, 255, 0.534);
}

.edit {
    border: 1px solid #eaeaea;
    background: #111111;
    color: #eaeaea;
    padding: 2px 19px;
    cursor: pointer;
    transition: 0.3s;
}

.edit:hover {
    background-color: rgba(255, 255, 255, 0.534);
}

.edit-delete {
    margin-top: 15px;
    margin-bottom: 19px;
}

.display-list li {
    line-height: 36px;
}